@font-face {
    -fx-font-family: 'Roboto';
    src: url("fonts/Roboto-Regular.ttf");
}

@font-face {
    -fx-font-family: 'Roboto Light';
    src: url("fonts/Roboto-Light.ttf");
}

@font-face {
    -fx-font-family: 'Roboto Medium';
    src: url("fonts/Roboto-Medium.ttf");
}

.text-field, .password-field {
    -fx-font-family: "Roboto";
    -fx-prompt-text-fill: derive(#000000, 80%);
    -fx-font-size: 13px;
    -fx-background-color: transparent;
    -fx-border-width: 0px 0px 2px 0px;
    -fx-padding: 5px 16px 5px 3px;
    -fx-border-color: derive(#000000, 80%);
    -fx-text-fill: #000000;
    -fx-highlight-fill: #007AFF;
}

.main-label {
    -fx-font-family: "Roboto Medium";
    -fx-text-fill: #007AFF;
    -fx-font-size: 11px;
}

.error-label {
    -fx-font-family: "Roboto Light";
    -fx-text-fill: #FF3B30;
    -fx-font-size: 11px;
}

.clear-button {
    -fx-background-color: transparent;
    -fx-graphic: url("images/Cancel_16px.png");
}

.text-field:focused, .password-field:focused {
    -fx-border-color: #007AFF;
}

.banner {
    -fx-background-color: derive(#000000DD, 20%);
}

.banner .label {
    -fx-font-family: "Roboto Light";
    -fx-font-size: 21px;
    -fx-text-fill: #ffffff;
    -fx-padding: 10px;
}

.sub-banner {
    -fx-background-color: derive(#000000, 80%);
}

.combo-box {
    -fx-background-color: transparent;
}

.combo-box .list-view .list-cell {
    -fx-font-family: "Roboto Light";
    -fx-font-size: 13px;
}

.combo-box .list-view .list-cell:hover, .combo-box .list-view .list-cell:selected {
    -fx-background-color: #007AFF;
}

.combo-box-base > .text-field {
    -fx-font-family: "Roboto";
    -fx-prompt-text-fill: derive(#000000, 80%);
    -fx-font-size: 13px;
    -fx-background-color: transparent;
    -fx-border-width: 0px 0px 2px 0px;
    -fx-border-color: derive(#000000, 80%);
    -fx-text-fill: #000000;
    -fx-highlight-fill: #007AFF;
}

.combo-box-base > .arrow-button {
    -fx-background-color: transparent;
    -fx-border-width: 0px 0px 2px 0px;
    -fx-border-color: derive(#000000, 80%);
}

.combo-box-base > .arrow-button .arrow {
    -fx-background-color: derive(#000000, 80%);
}

.combo-box-base:focused > .arrow-button {
    -fx-border-color: #007AFF;
}

.combo-box-base:focused > .text-field {
    -fx-border-color: #007AFF;
}

.combo-box-base:focused > .arrow-button .arrow {
    -fx-background-color: #007AFF;
}

.date-picker {
    -fx-background-color: transparent;
}

.date-picker-combo-box > .arrow-button .arrow {
    -fx-shape: "M 4.320313 0 C 3.925781 0 3.601563 0.328125 3.601563 0.71875 L 3.601563 1.441406 L 1.441406 1.441406 C 1.023438 1.441406 0.71875 1.742188 0.71875 2.160156 L 0.71875 4.679688 L 17.28125 4.679688 L 17.28125 2.160156 C 17.28125 1.742188 16.976563 1.441406 16.558594 1.441406 L 14.398438 1.441406 L 14.398438 0.71875 C 14.398438 0.328125 14.074219 0 13.679688 0 L 12.960938 0 C 12.566406 0 12.238281 0.328125 12.238281 0.71875 L 12.238281 1.441406 L 5.761719 1.441406 L 5.761719 0.71875 C 5.761719 0.328125 5.433594 0 5.039063 0 Z M 4.320313 0.71875 L 5.039063 0.71875 L 5.039063 2.878906 L 4.320313 2.878906 Z M 12.960938 0.71875 L 13.679688 0.71875 L 13.679688 2.878906 L 12.960938 2.878906 Z M 0.71875 5.398438 L 0.71875 16.558594 C 0.71875 16.976563 1.023438 17.28125 1.441406 17.28125 L 16.558594 17.28125 C 16.976563 17.28125 17.28125 16.976563 17.28125 16.558594 L 17.28125 5.398438 Z M 4.320313 7.558594 L 6.121094 7.558594 L 6.121094 9.359375 L 4.320313 9.359375 Z M 6.839844 7.558594 L 8.640625 7.558594 L 8.640625 9.359375 L 6.839844 9.359375 Z M 9.359375 7.558594 L 11.160156 7.558594 L 11.160156 9.359375 L 9.359375 9.359375 Z M 11.878906 7.558594 L 13.679688 7.558594 L 13.679688 9.359375 L 11.878906 9.359375 Z M 4.320313 10.078125 L 6.121094 10.078125 L 6.121094 11.878906 L 4.320313 11.878906 Z M 6.839844 10.078125 L 8.640625 10.078125 L 8.640625 11.878906 L 6.839844 11.878906 Z M 9.359375 10.078125 L 11.160156 10.078125 L 11.160156 11.878906 L 9.359375 11.878906 Z M 11.878906 10.078125 L 13.679688 10.078125 L 13.679688 11.878906 L 11.878906 11.878906 Z M 4.320313 12.601563 L 6.121094 12.601563 L 6.121094 14.398438 L 4.320313 14.398438 Z M 6.839844 12.601563 L 8.640625 12.601563 L 8.640625 14.398438 L 6.839844 14.398438 Z M 9.359375 12.601563 L 11.160156 12.601563 L 11.160156 14.398438 L 9.359375 14.398438 Z M 11.878906 12.601563 L 13.679688 12.601563 L 13.679688 14.398438 L 11.878906 14.398438 Z ";
    -fx-scale-shape: false;
}

.date-picker-popup > * > .day-cell:focused:hover,
.date-picker-popup > * > .today:focused:hover,
.date-picker-popup > * > .selected:focused,
.date-picker-popup > * > .today.selected:focused {
    -fx-background-color: #007AFF, #007AFF, #007AFF;
}

.date-picker-popup > * > .day-cell:hover,
.date-picker-popup > * > .selected,
.date-picker-popup > * > .previous-month.selected,
.date-picker-popup > * > .next-month.selected {
    -fx-background: #007AFF;
}

.date-picker-popup > * > .day-name-cell,
.date-picker-popup > * > .week-number-cell {
    -fx-font-family: "Roboto";
}

.date-picker-popup > * > .spinner > .label {
    -fx-font-family: "Roboto Medium";
    -fx-text-fill: #000000;
}

.date-picker-popup > * > .spinner > .button:hover,
.date-picker-popup > * > .spinner > .button:pressed,
.date-picker-popup > * > .spinner > .button:focused {
    -fx-background-color: transparent;
}

.date-picker-popup > * > .spinner > .button > .left-arrow,
.date-picker-popup > * > .spinner > .button > .right-arrow {
    -fx-background-color: derive(#000000, 80%);
}

.date-picker-popup > * > .day-cell {
    -fx-font-family: "Roboto Light";
}

.date-picker-popup > * > .today:hover,
.date-picker-popup > * > .today.selected {
    -fx-background-color: #007AFF;
}

.date-picker-popup > .month-year-pane {
    -fx-background-color: #dbdbdb
}

.sub-banner >.label {
    -fx-font-family: "Roboto Medium";
    -fx-font-size: 15px;
    -fx-text-fill: #ffffff;
}

.tooltip {
    -fx-background-radius: 0px;
}

.browse-button, .save-button {
    -fx-text-fill: #ffffff;
    -fx-font-family: "Roboto";
    -fx-font-size: 13px;
    -fx-background-radius: 0px;
    -fx-border-color: transparent;
    -fx-background-color: #007AFF;
    -fx-border-insets: 0px;
    -fx-background-insets: 0px;
    -fx-effect: dropshadow(gaussian, gray, 5, 0, 0, 1);
}

.save-button, .clear-form-button, .browse-button {
    -fx-background-radius: 3px;
}

.clear-form-button {
    -fx-text-fill: #ffffff;
    -fx-font-family: "Roboto";
    -fx-font-size: 13px;
    -fx-border-color: transparent;
    -fx-background-color: #FF3B30;
    -fx-border-insets: 0px;
    -fx-background-insets: 0px;
    -fx-effect: dropshadow(gaussian, gray, 5, 0, 0, 1);
}

.browse-button:hover, .save-button:hover {
    -fx-background-color: derive(#007AFF, 30%);
}

.clear-form-button:hover {
    -fx-background-color: derive(#FF3B30, 30%);
}

.browse-button:pressed, .save-button:pressed, .clear-form-button:pressed {
    -fx-effect: dropshadow(gaussian, gray, 0, 0, 0, 0);
}

.progress-bar {
    -fx-background-color: transparent;
}

.progress-bar .track {
    -fx-background-color: transparent;
    -fx-background-insets: 0px;
}

.progress-bar .bar {
    -fx-background-color: #2ECC71;
    -fx-background-insets: 0px;
    -fx-background-radius: 0px;
    -fx-padding: 2px;
}

.bottom-bar {
    -fx-background-color: transparent;
}

.review-label {
    -fx-text-fill: #007AFF;
    -fx-font-family: "Roboto Medium";
    -fx-font-size: 13px;
}

.review-content {
    -fx-text-fill: black;
    -fx-font-family: "Roboto Light";
    -fx-font-size: 13px;
}