@font-face {
    -fx-font-family: 'Roboto';
    src: url("fonts/Roboto-Regular.ttf");
}

@font-face {
    -fx-font-family: 'Roboto Bold';
    src: url("fonts/Roboto-Bold.ttf");
}

.menu-pane {
    -fx-background-color: #000000;
}

.menu:hover {
    -fx-background-color: derive(#000000, 20%);
}

.menu:pressed {
    -fx-background-color: derive(#000000, 60%);
}

.menu-main-label {
    -fx-font-family: "Roboto Bold";
    -fx-text-fill: #ffffff;
    -fx-font-size: 15px;
}

.scroll-pane {
    -fx-background: transparent;
    -fx-background-color: transparent;
    -fx-padding: 0px;
}

.scroll-pane .scroll-bar {
    -fx-background: transparent;
    -fx-background-color: transparent;
    -fx-padding: 0px;
}

.scroll-pane .scroll-bar .track {
    -fx-background-color: transparent;
    -fx-background-insets: 0px;
}

.scroll-pane .scroll-bar .thumb {
    -fx-background-color: derive(#000000, 50%);
    -fx-background-insets: 0px;
    -fx-background-radius: 0px;
    -fx-padding: 0px;
}

.scroll-pane .scroll-bar .increment-arrow,
.scroll-pane .scroll-bar .decrement-arrow {
    -fx-shape: " ";
    -fx-padding: 0px;
}

.scroll-pane .scroll-bar .increment-button,
.scroll-pane .scroll-bar .decrement-button {
    -fx-padding: 0px;
}

.menu-label {
    -fx-font-family: "Roboto";
    -fx-text-fill: #ffffff;
    -fx-font-size: 15px;
}

.banner {
    -fx-background-color: derive(#000000, 10%);
}

.status-bar {
    -fx-background-color: derive(#000000, 30%);
}

.page-scroll-pane .scroll-bar:vertical .decrement-button {
    -fx-padding: 50px 0px 0px 0px;
    -fx-background-color: transparent;
}

.profile-picture {
    -fx-border-color: #007AFF;
    -fx-border-width: 1px;
}