@font-face {
    -fx-font-family: 'Roboto';
    src: url("fonts/Roboto-Regular.ttf");
}

@font-face {
    -fx-font-family: 'Roboto Light';
    src: url("fonts/Roboto-Light.ttf");
}

@font-face {
    -fx-font-family: 'Roboto Medium';
    src: url("fonts/Roboto-Medium.ttf");
}

.name {
    -fx-font-family: "Roboto";
    -fx-font-size: 15px;
    -fx-text-fill: #000000;
}

.position {
    -fx-font-family: "Roboto";
    -fx-font-size: 13px;
    -fx-text-fill: #ffffff;
    -fx-background-color: #007AFF;
    -fx-background-radius: 3px;
}

.account-type {
    -fx-font-family: "Roboto";
    -fx-font-size: 13px;
    -fx-text-fill: #ffffff;
    -fx-background-color: #57b757;
    -fx-background-radius: 3px;
}

.main-button {
    -fx-background-color: #333333;
}

.main-button:hover {
    -fx-background-color: derive(#333333, 20%);
}

.main-button:pressed {
    -fx-background-color: derive(#333333, 40%);
}

.delete-button .label {
    -fx-font-family: "Roboto Medium";
    -fx-font-size: 13px;
    -fx-text-fill: #ffffff;
}