@font-face {
    -fx-font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.ttf');
}

@font-face {
    -fx-font-family: 'Roboto Light';
    src: url('../fonts/Roboto-Light.ttf');
}

@font-face {
    -fx-font-family: 'Roboto Medium';
    src: url('../fonts/Roboto-Medium.ttf');
}

@font-face {
    -fx-font-family: 'Roboto Bold';
    src: url('../fonts/Roboto-Bold.ttf');
}

/*Buttons*/
.mainmenu-button {
    -fx-background-color: black;
}

.mainmenu-button:hover {
    -fx-background-color: derive(black, 20%);
}

.mainmenu-button:pressed {
    -fx-background-color: derive(black, 40%);
}

.mainmenu-button .label {
    -fx-font-family: 'Roboto';
    -fx-font-size: 13px;
    -fx-text-fill: white;
}

.default-button {
    -fx-font-family: 'Roboto';
    -fx-font-size: 13px;
    -fx-background-insets: 0px;
    -fx-background-color: #007AFF;
    -fx-text-fill: white;
    -fx-effect: dropshadow(gaussian, gray, 5, 0, 0, 1);
}

.default-button:pressed {
    -fx-background-color: derive(#007AFF, 40%);
    -fx-effect: dropshadow(gaussian, gray, 0, 0, 0, 0);
}

.cancel-button {
    -fx-font-family: 'Roboto';
    -fx-font-size: 13px;
    -fx-background-insets: 0px;
    -fx-background-color: #FF3B30;
    -fx-text-fill: white;
    -fx-effect: dropshadow(gaussian, gray, 5, 0, 0, 1);
}

.cancel-button:pressed {
    -fx-background-color: derive(#FF3B30, 40%);
    -fx-effect: dropshadow(gaussian, gray, 0, 0, 0, 0);
}

.clear-button {
    -fx-background-color: transparent;
    -fx-graphic: url('../images/Cancel_16px.png');
}

/*Scrollpanes*/
.scroll-pane {
    -fx-background: transparent;
    -fx-background-color: transparent;
    -fx-padding: 0px;
}

.scroll-pane .scroll-bar {
    -fx-background: transparent;
    -fx-background-color: transparent;
    -fx-padding: 0px;
}

.scroll-pane .scroll-bar .track {
    -fx-background-color: transparent;
    -fx-background-insets: 0px;
}

.scroll-pane .scroll-bar .thumb {
    -fx-background-color: derive(black, 40%);
}

.scroll-pane .scroll-bar .thumb:pressed {
    -fx-background-color: derive(black, 60%);
}

.scroll-pane .scroll-bar .increment-arrow,
.scroll-pane .scroll-bar .decrement-arrow {
    -fx-shape: ' ';
    -fx-padding: 0px;
}

.scroll-pane .scroll-bar .increment-button,
.scroll-pane .scroll-bar .decrement-button {
    -fx-padding: 0px;
}

/*Panes*/
.sub-panes {
    -fx-background-color: derive(black, 40%);
}

.mainmenu-pane {
    -fx-background-color: black;
}

.page {
    -fx-background-color: white;
}

.page .label {
    -fx-font-family: 'Roboto Medium';
    -fx-font-size: 11px;
    -fx-text-fill: #007AFF;
}

.page .error-label {
    -fx-font-family: 'Roboto light';
    -fx-font-size: 11px;
    -fx-text-fill: #FF3B30;
}

.page .main-text {
    -fx-font-family: 'Roboto Medium';
    -fx-font-size: 13px;
    -fx-text-fill: #007AFF;
}

.page .sub-text {
    -fx-font-family: 'Roboto Light';
    -fx-font-size: 13px;
    -fx-text-fill: black;
}

.banner {
    -fx-background-color: derive(#000000BB, 40%);
}

.banner .label {
    -fx-font-family: 'Roboto';
    -fx-font-size: 17px;
    -fx-text-fill: white;
}

/*Inputs*/
.text-field, .password-field {
    -fx-font-family: 'Roboto';
    -fx-prompt-text-fill: derive(#000000, 80%);
    -fx-font-size: 13px;
    -fx-background-color: transparent;
    -fx-border-width: 0px 0px 2px 0px;
    -fx-padding: 5px 16px 5px 3px;
    -fx-border-color: derive(#000000, 80%);
    -fx-text-fill: #000000;
    -fx-highlight-fill: #007AFF;
}

.text-field:focused, .password-field:focused {
    -fx-border-color: #007AFF;
}

.combo-box, .date-picker {
    -fx-background-color: transparent;
}

.combo-box-base .arrow-button {
    -fx-background-color: transparent;
    -fx-border-width: 0px 0px 2px 0px;
    -fx-border-color: derive(black, 80%);
}

.combo-box-base .arrow-button .arrow {
    -fx-background-color: derive(black, 80%);
}

.combo-box .list-view .list-cell {
    -fx-font-family: 'Roboto Light';
    -fx-font-size: 13px;
}

.combo-box .list-view .list-cell:hover, .combo-box .list-view .list-cell:selected {
    -fx-background-color: #007AFF;
}

.combo-box-base:focused .arrow-button {
    -fx-border-color: #007AFF;
}

.combo-box-base:focused .arrow-button .arrow {
    -fx-background-color: #007AFF;
}

.date-picker-combo-box .arrow-button .arrow {
    -fx-shape: 'M 4.320313 0 C 3.925781 0 3.601563 0.328125 3.601563 0.71875 L 3.601563 1.441406 L 1.441406 1.441406 C 1.023438 1.441406 0.71875 1.742188 0.71875 2.160156 L 0.71875 4.679688 L 17.28125 4.679688 L 17.28125 2.160156 C 17.28125 1.742188 16.976563 1.441406 16.558594 1.441406 L 14.398438 1.441406 L 14.398438 0.71875 C 14.398438 0.328125 14.074219 0 13.679688 0 L 12.960938 0 C 12.566406 0 12.238281 0.328125 12.238281 0.71875 L 12.238281 1.441406 L 5.761719 1.441406 L 5.761719 0.71875 C 5.761719 0.328125 5.433594 0 5.039063 0 Z M 4.320313 0.71875 L 5.039063 0.71875 L 5.039063 2.878906 L 4.320313 2.878906 Z M 12.960938 0.71875 L 13.679688 0.71875 L 13.679688 2.878906 L 12.960938 2.878906 Z M 0.71875 5.398438 L 0.71875 16.558594 C 0.71875 16.976563 1.023438 17.28125 1.441406 17.28125 L 16.558594 17.28125 C 16.976563 17.28125 17.28125 16.976563 17.28125 16.558594 L 17.28125 5.398438 Z M 4.320313 7.558594 L 6.121094 7.558594 L 6.121094 9.359375 L 4.320313 9.359375 Z M 6.839844 7.558594 L 8.640625 7.558594 L 8.640625 9.359375 L 6.839844 9.359375 Z M 9.359375 7.558594 L 11.160156 7.558594 L 11.160156 9.359375 L 9.359375 9.359375 Z M 11.878906 7.558594 L 13.679688 7.558594 L 13.679688 9.359375 L 11.878906 9.359375 Z M 4.320313 10.078125 L 6.121094 10.078125 L 6.121094 11.878906 L 4.320313 11.878906 Z M 6.839844 10.078125 L 8.640625 10.078125 L 8.640625 11.878906 L 6.839844 11.878906 Z M 9.359375 10.078125 L 11.160156 10.078125 L 11.160156 11.878906 L 9.359375 11.878906 Z M 11.878906 10.078125 L 13.679688 10.078125 L 13.679688 11.878906 L 11.878906 11.878906 Z M 4.320313 12.601563 L 6.121094 12.601563 L 6.121094 14.398438 L 4.320313 14.398438 Z M 6.839844 12.601563 L 8.640625 12.601563 L 8.640625 14.398438 L 6.839844 14.398438 Z M 9.359375 12.601563 L 11.160156 12.601563 L 11.160156 14.398438 L 9.359375 14.398438 Z M 11.878906 12.601563 L 13.679688 12.601563 L 13.679688 14.398438 L 11.878906 14.398438 Z ';
    -fx-scale-shape: false;
}

/*Progress Bar*/
.progress-bar {
    -fx-background-color: transparent;
}

.progress-bar .track {
    -fx-background-color: transparent;
    -fx-background-insets: 0px;
}

.progress-bar .bar {
    -fx-background-color: #2ECC71;
    -fx-background-insets: 0px;
    -fx-background-radius: 0px;
    -fx-padding: 2px;
}

/*Table*/
.table-view {
    -fx-background-color: transparent;
    -fx-padding: 0px;
}

.table-view .column-header, .filler {
    -fx-background-color: derive(#007AFF, -20%);
    -fx-border-color: #007AFF;
    -fx-border-width: 1px 1px 0px 0px;
}

.table-view .column-header:pressed {
    -fx-background-color: #007AFF;
}

.table-view .label {
    -fx-text-fill: white;
    -fx-font-family: 'Roboto';
    -fx-font-size: 13px;
}

.table-view .arrow {
    -fx-border-color: white;
    -fx-background-color: white;
}

.table-view .column-header-background {
    -fx-background-color: transparent;
}

.table-row-cell {
    -fx-background-color: white;
}

.table-row-cell:selected {
    -fx-background-color: #ff9500;
    -fx-border-width: 0px 0px 2px 0px;
    -fx-border-color: derive(#ff9500, -20%);
}

.table-row-cell:odd {
    -fx-background-color: derive(lightgray, 50%);
}

.table-row-cell:odd:selected {
    -fx-background-color: #ff9500;
    -fx-border-width: 0px 0px 2px 0px;
    -fx-border-color: derive(#ff9500, -20%);
}

.table-row-cell:selected:pressed {
    -fx-background-color: derive(#ff9500, 20%);
    -fx-border-width: 0px 0px 2px 0px;
    -fx-border-color: #ff9500;
}

.table-row-cell:odd:selected:pressed {
    -fx-background-color: derive(#ff9500, 20%);
    -fx-border-width: 0px 0px 2px 0px;
    -fx-border-color: #ff9500;
}

.table-cell {
    -fx-font-family: 'Roboto';
    -fx-border-color: transparent;
    -fx-font-size: 13px;
    -fx-text-fill: black;
    -fx-alignment: center;
    -fx-padding: 0px;
}

.table-row-cell:selected .table-cell {
    -fx-text-fill: white;
}

.preview {
    -fx-background-color: derive(#00000055, 40%);
    -fx-background-radius: 0px 0px 5px 5px;
}

.preview:hover {
    -fx-background-color: derive(black, 40%);
}

.preview .footer {
    -fx-padding: 5px;
    -fx-background-radius: 0px 0px 5px 5px;
    -fx-background-color: derive(black, 40%);
}

.preview .image-button {
    -fx-background-radius: 3px;
}

.preview .image-button:hover {
    -fx-background-color: derive(black, 80%);
}

.preview .image-button:pressed {
    -fx-background-color: #007AFF;
}

.account-button {
    -fx-background-color: white;
    -fx-background-radius: 24px;
    -fx-effect: dropshadow(gaussian, gray, 15, 0, 0, 0);
}

.account-button:pressed {
    -fx-effect: none;
}